* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif; }

body {
  box-sizing: border-box;
  margin: 3rem;
  color: #474444; }
  @media only screen and (max-width: 61.25em) {
    body {
      margin: 0; } }

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in; }

.fade-in.appear {
  opacity: 1; }

.from-bottom {
  transform: translateY(50%);
  transition: .4s ease-in; }

.from-bottom.appear {
  transform: translateY(0);
  transition: .4s; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(253, 246, 242, 0.8), rgba(253, 246, 242, 0.9)), url(/images/laptop.jpg);
  background-size: cover; }
  .header__primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-weight: 100; }
    .header__primary--main {
      display: inline-block;
      margin-bottom: 1rem;
      font-size: 4.5rem;
      animation: fadeInUp 1s forwards;
      white-space: nowrap; }
      @media only screen and (max-width: 61.25em) {
        .header__primary--main {
          font-size: 3.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__primary--main {
          font-size: 3rem; } }
      @media only screen and (max-width: 25em) {
        .header__primary--main {
          font-size: 2.5rem; } }
    .header__primary--sub {
      display: inline-block;
      font-size: 3rem;
      opacity: 0;
      animation: fadeInUp 1s .3s forwards; }
      @media only screen and (max-width: 61.25em) {
        .header__primary--sub {
          font-size: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__primary--sub {
          font-size: 1.8rem; } }

.nav-bar {
  font-size: 2rem; }
  .nav-bar__list {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .nav-bar__item1, .nav-bar__item2, .nav-bar__item3 {
    margin: 2.5rem;
    font-size: 2.5rem;
    font-weight: bold; }
    @media only screen and (max-width: 61.25em) {
      .nav-bar__item1, .nav-bar__item2, .nav-bar__item3 {
        font-size: 2rem;
        white-space: nowrap; } }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__item1, .nav-bar__item2, .nav-bar__item3 {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 25em) {
      .nav-bar__item1, .nav-bar__item2, .nav-bar__item3 {
        font-size: 1rem; } }
  .nav-bar__item1 {
    opacity: 0;
    animation: fadeInUp 1s .7s forwards; }
  .nav-bar__item2 {
    opacity: 0;
    animation: fadeInUp 1s .9s forwards; }
  .nav-bar__item3 {
    opacity: 0;
    animation: fadeInUp 1s 1.1s forwards; }
  .nav-bar__link:link, .nav-bar__link:visited {
    text-decoration: none;
    color: #b39f9f;
    border-bottom: 1.5px solid #ccb2b2;
    display: inline-block;
    padding: .2rem .3rem;
    margin: .1rem;
    transition: all .2s; }
  .nav-bar__link:hover {
    background-color: #b39f9f;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .nav-bar__link:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0px); }

.nav-bar-fixed {
  position: fixed;
  height: 100px;
  width: 100vw;
  left: 0;
  z-index: 1;
  top: -6%;
  background-color: white; }

.nav-bar__link-fixed:link, .nav-bar__link-fixed:visited {
  border-bottom: 0px solid white; }

.photo-shape {
  position: absolute;
  width: 20rem;
  height: 20rem;
  margin: 7rem;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  opacity: 0;
  animation: fadeInUp 1s forwards; }
  @media only screen and (max-width: 61.25em) {
    .photo-shape {
      width: 10rem;
      height: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .photo-shape {
      margin: 5rem; } }

.photo-pic {
  height: 100%;
  transform: translateX(3rem) translateY(3rem) scale(1.4); }
  @media only screen and (max-width: 61.25em) {
    .photo-pic {
      transform: translateX(1.5rem) translateY(1.5rem) scale(1.4); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%); }
  to {
    opacity: 1;
    transform: translateY(-20%); } }

.section-projects-title {
  font-size: 4rem;
  margin: 8rem 2rem 7rem 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #b39f9f; }

.project__title {
  font-size: 3rem;
  margin: 5rem 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #b39f9f; }
  @media only screen and (max-width: 61.25em) {
    .project__title {
      text-align: center; } }

.project__container {
  display: flex;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 61.25em) {
    .project__container {
      display: block; } }

.project__sub-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #b39f9f; }
  @media only screen and (max-width: 61.25em) {
    .project__sub-title {
      text-align: center; } }

@media only screen and (max-width: 61.25em) {
  .project__about--container {
    padding: 0 10rem; } }

@media only screen and (max-width: 37.5em) {
  .project__about--container {
    padding: 0 5rem; } }

.project__about--text {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 350; }

.project__info-container {
  padding: 2rem 2rem;
  width: 50%; }
  @media only screen and (max-width: 61.25em) {
    .project__info-container {
      width: 100%; } }
  @media only screen and (max-width: 61.25em) {
    .project__info-container {
      padding: 0; } }

.project__tech-figure {
  margin: 2rem; }

.project__figure-list {
  display: flex; }
  @media only screen and (max-width: 61.25em) {
    .project__figure-list {
      justify-content: center; } }

.project__links--container {
  margin-top: 3rem; }
  @media only screen and (max-width: 61.25em) {
    .project__links--container {
      text-align: center; } }

.project__links--text {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 350;
  font-weight: bold; }

.project__links--heroku-link:link, .project__links--heroku-link:visited, .project__links--github-link:link, .project__links--github-link:visited {
  text-decoration: none;
  color: #b39f9f;
  border-bottom: 1.5px solid #ccb2b2;
  display: inline-block;
  padding: .2rem .3rem;
  margin: .1rem;
  transition: all .2s; }

.project__links--heroku-link:hover, .project__links--github-link:hover {
  background-color: #b39f9f;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.project__links--heroku-link:active, .project__links--github-link:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.project__video-container {
  text-align: center;
  margin: 2rem; }

.project__video-title {
  text-align: center; }

.project__video-iframe {
  width: 56rem;
  height: 31.5rem; }
  @media only screen and (max-width: 37.5em) {
    .project__video-iframe {
      width: 28rem;
      height: 15.75rem; } }

.project-one__images-container {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 61.25em) {
    .project-one__images-container {
      max-width: 80%;
      margin-left: 13%; } }

.project-one__image1 {
  width: 95%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  object-fit: contain; }
  @media only screen and (max-width: 37.5em) {
    .project-one__image1 {
      width: 86%; } }

.project-one__image2 {
  width: 45%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  object-fit: contain; }
  @media only screen and (max-width: 37.5em) {
    .project-one__image2 {
      width: 40.5%; } }

.project-one__image3 {
  width: 45%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  object-fit: contain; }
  @media only screen and (max-width: 37.5em) {
    .project-one__image3 {
      width: 40.5%; } }

.project-two__images-container {
  display: flex;
  max-width: 50%;
  padding-left: 1rem; }
  @media only screen and (max-width: 61.25em) {
    .project-two__images-container {
      max-width: 80%;
      margin: 0 auto; } }

.project-two__image1, .project-two__image2 {
  width: 50%;
  object-fit: contain; }

.project-three__images-container {
  width: 50%; }
  @media only screen and (max-width: 61.25em) {
    .project-three__images-container {
      width: 80%;
      margin: 0 auto; } }

.project-three__image1 {
  width: 100%; }

.mini-projects__card {
  border: 1px solid #f3e3e3;
  width: 80%;
  display: flex;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(201, 195, 195, 0.2);
  margin-bottom: 2rem; }
  @media only screen and (max-width: 61.25em) {
    .mini-projects__card {
      margin: 0 auto;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .mini-projects__card {
      display: block; } }
  .mini-projects__card:hover {
    cursor: pointer;
    transform: translateY(-1rem);
    transition: .2s; }

.mini-projects__image-container {
  width: 15rem;
  height: 15rem; }
  @media only screen and (max-width: 37.5em) {
    .mini-projects__image-container {
      width: 100%;
      height: 100%;
      padding: 2rem; } }

.mini-projects__image {
  max-height: 100%;
  max-width: 100%; }

.mini-projects__link, .mini-projects__link:visited {
  text-decoration: none;
  color: inherit; }

.mini-projects__about-container {
  padding: 0 2rem;
  width: 60%; }
  @media only screen and (max-width: 37.5em) {
    .mini-projects__about-container {
      width: 100%; } }

.mini-projects__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #b39f9f;
  margin-top: 1rem; }

.mini-projects__text {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 350; }

.mini-projects__codepen-container {
  margin-top: 3rem; }

.mini-projects__codepen-logo {
  height: 32px;
  width: 32px;
  vertical-align: middle;
  margin-right: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .mini-projects__codepen-logo {
      height: 16px;
      width: 16px; } }

.mini-projects__codepen-text {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 350; }
  @media only screen and (max-width: 37.5em) {
    .mini-projects__codepen-text {
      font-size: 1rem; } }

.more-projects {
  margin-top: 4rem; }
  @media only screen and (max-width: 61.25em) {
    .more-projects {
      padding: 0 4rem; } }
  .more-projects__text {
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-weight: 350;
    text-align: center;
    font-weight: 350;
    font-size: 2rem; }

.react-icon, .sass-icon, .node-icon, .pg-icon {
  height: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .react-icon, .sass-icon, .node-icon, .pg-icon {
      height: 3rem; } }

.collapse {
  background-color: #fdf6f2;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #b39f9f;
  margin: 0; }

.collapse:focus {
  color: #858585; }

.active, .collapse:hover {
  background-color: #f5efec; }

.collapse-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f8f6f6;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 350; }

.collapse::after {
  content: '\02795';
  float: right; }

.active::after {
  content: "\2796";
  float: right; }

.study-table {
  position: relative;
  left: 50%;
  top: 50%;
  margin: 2rem;
  transform: translate(-50%, 0%);
  border: 1px solid black;
  border-collapse: collapse; }
  .study-table__head {
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #b39f9f; }
  .study-table__data {
    padding: 1rem;
    border: 1px solid black;
    border-collapse: collapse; }

.about {
  background-color: #fdf6f2;
  padding-bottom: 4rem; }

.about__title {
  font-size: 4rem;
  margin: 8rem 2rem 7rem 2rem;
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #b39f9f; }

.about__text {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 350;
  padding: 0rem 5rem;
  font-size: 1.7rem; }

.contact-container {
  border: 1px solid #b39f9f;
  margin: 0 7rem;
  padding: 3rem;
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 37.5em) {
    .contact-container {
      display: block;
      text-align: center; } }
  @media only screen and (max-width: 25em) {
    .contact-container {
      padding: 0 1rem 0rem 1rem;
      width: 90%;
      margin: 0 auto; } }

.contact {
  margin-bottom: 10rem; }
  .contact__title {
    font-size: 4rem;
    margin: 8rem 2rem 7rem 2rem;
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #b39f9f; }
  .contact__sub-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #b39f9f; }
  @media only screen and (max-width: 37.5em) {
    .contact__element {
      font-size: 1.4rem; } }
  .contact__list {
    list-style: none;
    font-size: 2rem; }
  .contact__link:link, .contact__link:visited {
    text-decoration: none;
    color: #b39f9f;
    border-bottom: 1.5px solid #ccb2b2;
    display: inline-block;
    padding: .2rem .3rem;
    margin: .1rem;
    transition: all .2s; }
  .contact__link:hover {
    background-color: #b39f9f;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .contact__link:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0px); }

.contact-icon {
  height: 3rem;
  vertical-align: middle;
  margin: 1rem; }
