.about {
    padding-bottom: 4rem;
}
.about {
    &__title {
        @include section-title;
    }
    &__text {
        @include info-text;
        padding: 0rem 5rem;
        font-size: 1.7rem;
    }
}


