.about {
    background-color: $base-color;
    padding-bottom: 4rem;
}
.about {
    &__container {
       
    }
    &__title {
        font-size: 4rem;
        margin: 8rem 2rem 7rem 2rem;
        padding-top: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        color: rgb(179, 159, 159);
    }
    &__text {
        @include info-text;
        padding: 0rem 5rem;
    }
}


