
@mixin info-text {
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-weight: 350;
}


.section-projects-title {
    font-size: 4rem;
    margin: 8rem 2rem 7rem 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: rgb(179, 159, 159);
   
}


.project {
    &__title {
        font-size: 3rem;
        margin: 5rem 2rem;
        text-transform: uppercase;
        font-weight: 300;
        color: rgb(179, 159, 159);
    }

    &__container {
        display: flex;
        margin-bottom: 5rem;
    }


    &__sub-title {
        @include sub-section-title;
    }

    &__about {
        &--container {

        }
        
        &--text {
            @include info-text;
        }
    }

    &__info-container {
        padding: 2rem 2rem;
    }

    &__tech-figure {
        margin: 2rem;
    }

    &__figure-list {
        display: flex;
    }

    &__links {
        &--container {
            margin-top: 3rem;
        }
        &--text {
            @include info-text;
            font-weight: bold;
        }

        &--heroku-link, &--github-link {
            @include small-link;
         }
    }
}


.project-one {
    &__images-container {
       max-width: 50%;
       display: flex;
       flex-wrap: wrap;
       
    }
    &__image1 {
        width: 93%;
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        margin: 1rem;
    }
    &__image2 {
        width: 45%;
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        margin: 1rem;
    }
    &__image3 {
        width: 45%;
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        margin: 1rem;
    }

    
    
}

.project-two {
    &__images-container {
        display: flex;
        max-width: 50%;
    }

    &__image1, &__image2 {
        width: 50%; 
    }

}

.project-three {
    &__images-container {
        max-width: 50%;
    }

    &__image1 {
        width: 100%;
    }
}

/////////// MINI PROJECTS //////////

.mini-projects {
    &__card {
        border: 1px solid rgb(243, 227, 227);
        width: 80%;
        display: flex;
        padding: 1rem;
        box-shadow: 0 .5rem 1rem rgba(rgb(201, 195, 195), .2);
        margin-bottom: 2rem;

        &:hover {
            cursor: pointer;
            transform: translateY(-1rem);
            transition: .2s;
        }
    }

    &__image-container {
       width: 15rem;
       height: 15rem;
    }

    &__image {
        max-height: 100%;
        max-width: 100%;
    }

    &__link, &__link:visited {
        text-decoration: none;
        color: inherit;
    }

    &__about-container {
        padding: 0 2rem;
    }

    &__title {
        @include sub-section-title;
        margin-top: 1rem;
    }

    &__text {
        @include info-text;
    }
}





/////////// ICONS ///////////
@mixin icon-format {
    height: 5rem;
   
}

.react-icon, .sass-icon, .node-icon, .pg-icon {
   @include icon-format;
}

/////////// EXPAND / COLLAPSE SECTION //////////

.collapse {
    background-color: $base-color;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    @include sub-section-title;
    margin: 0;
}

.active, .collapse:hover {
    background-color: #f5efec;
}

.collapse-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f8f6f6;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    @include info-text;
}

.collapse::after {
    content: '\02795';
    float: right;
   
}

.active::after {
    content: "\2796";
    float: right;
}

//////////// CASE STUDY TABLE ///////////

.study-table {
    position: relative;
    left: 50%;
    top: 50%;
    margin: 2rem;
    transform: translate(-50%, 0%);
    border: 1px solid black;
    border-collapse: collapse;

    &__head {
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-collapse: collapse;
        @include sub-section-title;
    }

    &__data {
        padding: 1rem;
        border: 1px solid black;
        border-collapse: collapse;
    }
}
