
@mixin info-text {
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-weight: 350;
}


.section-projects-title {
    font-size: 4rem;
    margin: 8rem 2rem 7rem 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: rgb(179, 159, 159);
   
}


.project {
    &__title {
        font-size: 3rem;
        margin: 5rem 2rem;
        text-transform: uppercase;
        font-weight: 300;
        color: rgb(179, 159, 159);
        padding-top: 2rem;
        text-align: center;

        @media only screen and (max-width: $medium){
            text-align: center;
        }

    }

    &__container {
        display: flex;
        margin-bottom: 5rem;

        @media only screen and (max-width: $medium){
            display: block;
        }
    }


    &__sub-title {
        @include sub-section-title;

        @media only screen and (max-width: $medium){
            text-align: center;
        }
    }

    &__about {
        &--container {

            @media only screen and (max-width: $medium){
                padding: 0 10rem;
            }

            @media only screen and (max-width: $small){
                padding: 0 5rem;
            }

        }
        
        &--text {
            text-align:justify;
            @include info-text;
        }
    }

    &__info-container {
        padding: 2rem 2rem;
        width: 50%;

        @media only screen and (max-width: $medium){
            width: 100%;
        }

        @media only screen and (max-width: $medium){
           padding: 0;
        }
    }

    &__tech-figure {
        margin: 2rem;
    }

    &__figure-list {
        display: flex;

        @media only screen and (max-width: $medium){
            justify-content: center;
        }

    }

    &__links {
        
        &--container {
            margin-top: 3rem;

            @media only screen and (max-width: $medium){
                text-align: center;
            }

        }
        &--text {
            @include info-text;
            font-weight: bold;
        }

        &--heroku-link, &--github-link {
            @include small-link;
         }
    }

    &__video-container {
        text-align: center;
        margin: 2rem;
        margin-bottom: 4rem;
    }

    &__video-title {
        text-align: center;
    }

    &__video-iframe {
        width: 56rem; 
        height: 31.5rem;

        @media only screen and (max-width: $small){
            width: 28rem; 
            height: 15.75rem;
        }
    }
}


.project-one {
    background-color: $base-color;
    &__images-container {
       max-width: 50%;
       display: flex;
       flex-wrap: wrap;
       
       @media only screen and (max-width: $medium){
            max-width: 80%;
            margin-left: 13%
        }
    }
    &__image1 {
        width: 95%;
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        margin: 1rem;
        object-fit: contain;

        @media only screen and (max-width: $small){
            width: 86%;
        }
    }
    &__image2 {
        width: 45%;
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        margin: 1rem;
        object-fit: contain;

        @media only screen and (max-width: $small){
           width: 40.5%;
        }
    }
    &__image3 {
        width: 45%;
        box-shadow: 0 .5rem 1rem rgba(black, .2);
        margin: 1rem;
        object-fit: contain;

        @media only screen and (max-width: $small){
            width: 40.5%;
        }
    }

    
    
}

.project-two {
    &__images-container {
        display: flex;
        max-width: 50%;
        padding-left: 1rem;

        @media only screen and (max-width: $medium){
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__image1, &__image2 {
        width: 50%;
        object-fit: contain;
    }

}

.project-three {
    background-color: $base-color;
    &__images-container {
        width: 50%;

        @media only screen and (max-width: $medium){
            width: 80%;
            margin: 0 auto;
        }
    }

    &__image1 {
        width: 100%;
    }
}

/////////// MINI PROJECTS //////////

.mini-projects {
    &__card {
        border: 1px solid rgb(243, 227, 227);
        width: 80%;
        display: flex;
        padding: 1rem;
        box-shadow: 0 .5rem 1rem rgba(rgb(201, 195, 195), .2);
        margin-bottom: 2rem;

        @media only screen and (max-width: $medium){
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }

        @media only screen and (max-width: $small){
            display: block;
        }


        &:hover {
            cursor: pointer;
            transform: translateY(-1rem);
            transition: .2s;
        }
    }

    &__image-container {
       width: 15rem;
       height: 15rem;

        @media only screen and (max-width: $small){
            width: 100%;
            height: 100%;
            padding: 2rem;
        }
    }

    &__image {
        max-height: 100%;
        max-width: 100%;
    }

    &__link, &__link:visited {
        text-decoration: none;
        color: inherit;
    }

    &__about-container {
        padding: 0 2rem;
        width: 60%;

        @media only screen and (max-width: $small){
           width: 100%;
        }
    }

    &__title {
        @include sub-section-title;
        margin-top: 1rem;
    }

    &__text {
        @include info-text;
    }

    &__codepen {
        &-container {
            margin-top: 3rem;
        }

        &-logo {
            height: 32px;
            width: 32px;
            vertical-align: middle;
            margin-right: 1rem;


            @media only screen and (max-width: $small){
                height: 16px;
                width: 16px;
            }
        }

        &-text {
            @include info-text;

            @media only screen and (max-width: $small){
                font-size: 1rem;

            }
           
        }
    }
}


.more-projects {
    margin-top: 4rem;

    @media only screen and (max-width: $medium){
        padding: 0 4rem;
    }

    &__text {
        @include info-text;
        text-align: center;
        font-weight: 350;
        font-size: 2rem;
    }
}


/////////// ICONS ///////////
@mixin icon-format {
    height: 5rem;

    @media only screen and (max-width: $small){
        height: 3rem;
    }
}

.react-icon, .sass-icon, .node-icon, .pg-icon {
   @include icon-format;

}

/////////// EXPAND / COLLAPSE SECTION //////////

.collapse {
    background-color: #f0ebe8;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    @include sub-section-title;
    margin: 0;
    
}

.collapse:focus {
    color: rgb(133, 133, 133);
}

.active, .collapse:hover {
    background-color: #f5efec;
}

.collapse-content {
    padding: 0 18px;
    display: none;
    overflow: scroll;
    background-color: #f8f6f6;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    @include info-text;
}

.collapse::after {
    content: '\02795';
    float: right;
   
}

.active::after {
    content: "\2796";
    float: right;
}

.thoughts-container {
    padding: .5rem 5rem 5rem 5rem;
}
//////////// CASE STUDY TABLE ///////////

.study-table {
    position: relative;
    left: 50%;
    top: 50%;
    margin: 2rem;
    transform: translate(-50%, 0%);
    border: 1px solid black;
    border-collapse: collapse;

    &__head {
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-collapse: collapse;
        @include sub-section-title;
    }

    &__data {
        padding: 1rem;
        border: 1px solid black;
        border-collapse: collapse;
    }
}
