$base-color: #fdf6f2;
$main-font: "Lato", sans-serif;

//'Open Sans', sans-serif;
//rgb(250, 250, 234)
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // set 1rem = 10px; 10px/16px = 62.5%
    font-family: $main-font;
}

body {
    box-sizing: border-box;
    margin: 3rem;
}

/////// animations //////// 

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
   
}

.from-bottom {
    transform: translateY(50%);
    transition: .4s ease-in;
}

.from-bottom.appear {
    transform: translateY(0);
    transition: .4s;
}


///// BUTTONS ////// 
@mixin small-link {
    &:link,
    &:visited {
        text-decoration: none;
        color: rgb(179, 159, 159);
        border-bottom: 1.5px solid rgb(204, 178, 178);
        display: inline-block;
        padding: .2rem .3rem;
        margin: .1rem;
        transition: all .2s;
    }
    
    &:hover {
        background-color: rgb(179, 159, 159);
        color: white;
        box-shadow: 0 1rem 2rem rgba(black,.15);
        transform: translateY(-2px);
    }
    
    &:active {
        box-shadow: 0 .5rem 1rem rgba(black,.15);
        transform: translateY(0px);
    }
    
}
